.li-home {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border: "none";
  margin-top: 20px;
}

.li-home:hover {
  background-color: rgba(196, 196, 196, 0.322);
  cursor: pointer;
}

.li-home.selected {
  color: #59d373;
  background-color: #baf8ccb0;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25px;
  word-wrap: break-word;
}

.p-home {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

